watchdog==6.0.0
joblib==1.4.2
scikit-learn==1.6.1
pandas==2.2.3
mysql-connector-python==9.3.0
python-dotenv==1.1.0
flask==3.0.2
PyJWT>=2.0
requests>=2.0
# Web API framework and ASGI server
fastapi
# Use the [standard] extras for better performance (uvloop, httptools, etc.)
uvicorn[standard]
SQLAlchemy
pymysql
